*{
    /* border: solid; */
    text-align: center;
    margin: 10px;
}


body{
    background-image: linear-gradient(to right,rgb(172, 80, 172), rgb(219, 168, 207), rgb(168, 196, 219)) ;
}

.b1, .b2, .b3{
    border-top: solid green;
    background-color: white;
    border-top-width: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#b1{
    border-top: solid lightcoral;
    border-top-width: 20px;
}

#b2{
    border-top: solid lightseagreen;
    border-top-width: 20px;
}

#b3{
    border-top: solid purple;
    border-top-width: 20px;
}


h2{
    margin-bottom: 30px;
}

/* .main{
    display: flex;
    justify-content: space-evenly;
} */

.main{
    display: grid;
    justify-content: center;
}

h1{
    padding: 10px;
    margin-bottom: 80px;

}

label{
    font-size: 20px;
}

button{
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(173, 218, 173);
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
    
}

.options button{
    background-color: rgb(173, 217, 218);
    font-size: 30px;
    margin-bottom: 5%;
}

input{
    height: 20px;
}

footer{
    margin-top: 80px;
    font-size: 20px;
}

